Repository MozillaSecurity/bugmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint, toml-sort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/MozillaSecurity/orion-ci
    rev: v0.0.10
    hooks:
      - id: orion_ci
  - repo: https://github.com/marco-c/taskcluster_yml_validator
    rev: v0.0.12
    hooks:
      - id: taskcluster_yml
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --check --diff
        language: system
        types: [ python ]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [ python ]
        require_serial: true
      - id: gitlint
        name: gitlint
        entry: poetry run gitlint
        language: system
        args: [--contrib=contrib-title-conventional-commits, --ignore=body-is-missing, --msg-filename]
        stages: [commit-msg]
      - id: mypy
        name: mypy
        entry: poetry run mypy src
        language: system
        pass_filenames: false
        types: [ python ]
      - id: pylint
        name: pylint
        entry: poetry run pylint -j 0 src
        language: system
        pass_filenames: false
        types: [ python ]
      - id: toml-sort
        name: toml-sort
        entry: poetry run toml-sort --check -a
        files: "^pyproject\\.toml$"
        language: system

4.3.0
  CHANGELOG.md
Due: none

chore: update lockfile
  poetry.lock
Due: none

feat: update autobisect to v8.1.0
  poetry.lock
  pyproject.toml
  src/bugmon/evaluator_configs/browser.py
Due: black, flake8, mypy, pylint, toml-sort

4.4.0
  CHANGELOG.md
Due: none

ci: disable changelog generation
  CHANGELOG.md
  tox.ini
Due: none

ci: update python-semantic-release to v9.19.1
  poetry.lock
  pyproject.toml
Due: toml-sort

ci: update python-semantic-release configuration
  pyproject.toml
Due: toml-sort

fix: manually update pyproject version
  pyproject.toml
Due: toml-sort

ci: update python-semantic-release commit message config variable
  pyproject.toml
Due: toml-sort

chore(release): 4.4.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

ci: semantic-release version is responsible for creating the changelog
  CHANGELOG.md
  tox.ini
Due: none

ci: enable verbose logging
  tox.ini
Due: none

ci: update semantic-release configuration
  pyproject.toml
Due: toml-sort

fix: update autobisect to 8.1.1
  poetry.lock
  pyproject.toml
Due: toml-sort

chore: update lock file
  poetry.lock
Due: none

chore(release): 4.4.2 [skip ci]
  pyproject.toml
Due: toml-sort

ci: upload_to_vcs_release must be defined under publish
  pyproject.toml
Due: toml-sort

feat: update autobisect to 8.2.0
  poetry.lock
  pyproject.toml
Due: toml-sort

chore(release): 4.5.0 [skip ci]
  pyproject.toml
Due: toml-sort

feat: update autobisect to 8.3.0
  poetry.lock
  pyproject.toml
Due: toml-sort

ci: attempt to explicitly disable pushing release to vcs
  tox.ini
Due: none

chore(release): 4.6.0 [skip ci]
  pyproject.toml
Due: toml-sort

feat: update autobisect to 8.4.0
  poetry.lock
  pyproject.toml
Due: toml-sort

chore(release): 4.7.0 [skip ci]
  pyproject.toml
Due: toml-sort

feat: update autobisect to 8.5.0
  poetry.lock
  pyproject.toml
Due: toml-sort

feat: don't attempt to bisect if regressed_by is set
  src/bugmon/bugmon.py
Due: black, flake8, mypy, pylint

refactor: simplify conditional check in needs_confirm
  src/bugmon/bugmon.py
Due: black, flake8, mypy, pylint

ci: update python-black dependencies
  poetry.lock
  pyproject.toml
Due: toml-sort

chore(release): 4.8.0 [skip ci]
  pyproject.toml
Due: toml-sort

feat: use product-versions instead of hg to retrieve milestone
  src/bugmon/utils.py
  tests/cassettes/test_bugmon/test_bugmon_pernosco_browser_bug_crashed.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_browser_bug_failure.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_failed_to_find_trace.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_no_creds.yaml
Due: black, flake8, mypy, pylint

feat: use product-details instead of hg to retrieve milestone (#59)
  src/bugmon/utils.py
  tests/cassettes/test_bugmon/test_bugmon_pernosco_browser_bug_crashed.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_browser_bug_failure.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_failed_to_find_trace.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_no_creds.yaml
Due: black, flake8, mypy, pylint

chore(release): 4.9.0 [skip ci]
  pyproject.toml
Due: toml-sort

fix: don't inherit values from original build flag instance
  src/bugmon/evaluator_configs/base.py
Due: black, flake8, mypy, pylint

chore(release): 4.9.1 [skip ci]
  pyproject.toml
Due: toml-sort

ci: migrate from taskcluster to github actions
  .github/actions/setup-poetry/action.yml
  .github/workflows/ci.yml
  .taskcluster.yml
  pyproject.toml
  tox.ini
Due: toml-sort

ci: migrate from taskcluster to github actions (#61)
  .github/actions/setup-poetry/action.yml
  .github/workflows/ci.yml
  .taskcluster.yml
  pyproject.toml
  tox.ini
Due: toml-sort

ci: fix gh-actions release stage
  .github/workflows/ci.yml
Due: none
