Repository MozillaSecurity/bugmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, taskcluster_yml

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/MozillaSecurity/orion
    rev: v0.0.2
    hooks:
      - id: orion_ci
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --check --diff
        language: system
        types: [ python ]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [ python ]
        require_serial: true
      - id: gitlint
        name: gitlint
        entry: poetry run gitlint
        language: system
        args: [--contrib=contrib-title-conventional-commits, --ignore=body-is-missing, --msg-filename]
        stages: [commit-msg]
      - id: mypy
        name: mypy
        entry: poetry run mypy bugmon
        pass_filenames: false
        language: system
      - id: pylint
        name: pylint
        entry: poetry run pylint -j 0 bugmon
        pass_filenames: false
        language: system
      - id: taskcluster_yml
        name: taskcluster_yml
        entry: poetry run taskcluster_yml --check -a
        pass_filenames: false
        language: python
        files: "^\\.taskcluster\\.yml$"
        require_serial: false
      - id: toml-sort
        name: toml-sort
        entry: poetry run toml-sort --check -a
        pass_filenames: false
        language: system

chore(release): 3.6.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: specify encoding when reading file contents
  src/bugmon/evaluator_configs/browser.py
Due: black, flake8

chore(release): 3.6.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: local sources are no longer required for pernosco traces
  src/bugmon/bugmon.py
  src/bugmon/utils.py
Due: black, flake8

chore(release): 3.7.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: remove unnecessary check for pre py3.8 versions
  src/bugmon/bug.py
Due: black, flake8

feat: set explicit retries and increase backoff_factor
  src/bugmon/utils.py
Due: black, flake8

chore: update lockfile
  poetry.lock
Due: none

chore(release): 3.8.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: Update orion CI repo
  .pre-commit-config.yaml
Due: none

feat: drop support for python 3.8
  .pre-commit-config.yaml
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  tox.ini
Due: taskcluster_yml

fix: revert version and set python minimum version
  pyproject.toml
Due: none

chore: update lock file
  poetry.lock
Due: none

ci: ignore pylint too-many-positional-arguments
  pyproject.toml
Due: none

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: check return code of pernosco-submit to determine availability
  src/bugmon/utils.py
  tests/test_bugmon.py
  tests/test_utils.py
Due: black, flake8

chore(release): 4.1.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: update autobisect and fuzzfetch
  poetry.lock
  pyproject.toml
  src/bugmon/bug.py
  src/bugmon/bugmon.py
  src/bugmon/evaluator_configs/base.py
  tests/conftest.py
  tests/test_configs.py
Due: black, flake8

ci: update dev dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

chore(release): 4.2.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: fix semantic-release version_variable
  poetry.lock
  pyproject.toml
Due: none

ci: update semantic release commands and drop version from tox
  tox.ini
Due: none

ci: do a full checkout of master for semantic-release
  .taskcluster.yml
Due: taskcluster_yml

fix: fetcher target param is a list
  src/bugmon/bugmon.py
Due: black, flake8

4.2.1
  CHANGELOG.md
Due: none

test: record network requests using pytest-recording
  poetry.lock
  pyproject.toml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_browser_bug_crashed.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_browser_bug_failure.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_failed_to_find_trace.yaml
  tests/cassettes/test_bugmon/test_bugmon_pernosco_no_creds.yaml
  tests/conftest.py
  tests/test_bugmon.py
Due: black, flake8

fix: update fuzzfetch and autobisect to latest
  poetry.lock
  pyproject.toml
Due: none

4.2.2
  CHANGELOG.md
Due: none

fix: add a needinfo instead of redirecting
  src/bugmon/bug.py
  tests/test_bug.py
Due: black, flake8

4.2.3
  CHANGELOG.md
Due: none

fix: grizzly no longer supports test_info.json as a testcase
  src/bugmon/evaluator_configs/browser.py
  tests/test_configs.py
Due: black, flake8

4.2.4
  CHANGELOG.md
Due: none

feat: use test_info first if it exists
  src/bugmon/evaluator_configs/browser.py
  tests/test_configs.py
Due: black, flake8
