Repository MozillaSecurity/bugmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint, toml-sort

black:
  name: black
  entry: poetry run black --check --diff
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy src
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: poetry run pylint -j 0 src
  language: system
  pass_filenames: false

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check -a
  language: system

ci: fix gh-actions release stage (#62)
  .github/workflows/ci.yml
Due: none

ci: do full checkout and set commit author info
  .github/workflows/ci.yml
Due: none

ci: install package dependencies before running semantic-release
  .github/workflows/ci.yml
Due: none

ci: simplify github actions ci
  .github/actions/setup-poetry/action.yml
  .github/workflows/ci.yml
Due: none

ci: remove unnecessary pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: update dev dependencies
  poetry.lock
  pyproject.toml
Due: toml-sort

fix: update command setter value type to include None
  src/bugmon/bug.py
Due: black, flake8, mypy, pylint

chore(release): 4.9.2 [skip ci]
  pyproject.toml
Due: toml-sort

build: update pyproject to use pep 517
  pyproject.toml
Due: toml-sort

feat: update autobisect and fuzzfetch
  poetry.lock
  pyproject.toml
Due: toml-sort

fix: update autobisect to 8.6.2
  poetry.lock
  pyproject.toml
Due: toml-sort

build: update smenatic-release target version variable
  pyproject.toml
Due: toml-sort

chore(release): 4.10.1 [skip ci]
  pyproject.toml
Due: toml-sort

chore: update lock file
  poetry.lock
Due: none

feat: add stage to ignore supplied prefs
  src/bugmon/evaluator_configs/browser.py
Due: black, flake8, mypy, pylint

chore(release): 4.11.0 [skip ci]
  pyproject.toml
Due: toml-sort

fix: choose grizzly timeout argument based on harness usage
  src/bugmon/bugmon.py
Due: black, flake8, mypy, pylint

chore(release): 4.11.1 [skip ci]
  pyproject.toml
Due: toml-sort

feat: update autobisect to v8.7.0
  poetry.lock
  pyproject.toml
Due: toml-sort

chore(release): 4.12.0 [skip ci]
  pyproject.toml
Due: toml-sort

fix: update autobisect to v8.7.1
  poetry.lock
  pyproject.toml
  src/bugmon/evaluator_configs/browser.py
Due: black, flake8, mypy, pylint, toml-sort

chore(release): 4.12.1 [skip ci]
  pyproject.toml
Due: toml-sort

feat: update autobisect to v8.8.0 and fuzzfetch to v13.0.0
  poetry.lock
  pyproject.toml
Due: toml-sort

ci: use matrix interpreter instead of system interpreter
  .github/workflows/ci.yml
Due: none

chore(release): 4.13.0 [skip ci]
  pyproject.toml
Due: toml-sort

feat: update autobisect to v9.0.0
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  src/bugmon/bug.py
  tox.ini
Due: black, flake8, mypy, pylint, toml-sort

ci: properly set matrix python path for pipx
  .github/workflows/ci.yml
Due: none

chore(release): 5.0.0 [skip ci]
  pyproject.toml
Due: toml-sort

fix: update prefpicker to 2.19.0
  poetry.lock
Due: none

chore(release): 5.0.1 [skip ci]
  pyproject.toml
Due: toml-sort

build: switch build system from poetry to uv
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tox.ini
  uv.lock
Due: toml-sort

chore(release): 5.1.0 [skip ci]
  pyproject.toml
Due: toml-sort

chore: update lock file
  uv.lock
Due: none

fix: expand regex matching for js runtime flags
  src/bugmon/bug.py
  tests/test_bug.py
Due: black, flake8, mypy, pylint

chore(release): 5.1.1 [skip ci]
  pyproject.toml
Due: toml-sort

fix: update prefpicker to 2.21.0
  uv.lock
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  toml-sort: any of: ^pyproject\.toml$
