Repository MozillaSecurity/bugmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, taskcluster_yml, toml-sort

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/MozillaSecurity/orion
    rev: v0.0.2
    hooks:
      - id: orion_ci
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --check --diff
        language: system
        types: [ python ]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [ python ]
        require_serial: true
      - id: gitlint
        name: gitlint
        entry: poetry run gitlint
        language: system
        args: [--contrib=contrib-title-conventional-commits, --ignore=body-is-missing, --msg-filename]
        stages: [commit-msg]
      - id: mypy
        name: mypy
        entry: poetry run mypy bugmon
        language: system
        pass_filenames: false
      - id: pylint
        name: pylint
        entry: poetry run pylint -j 0 bugmon
        language: system
        pass_filenames: false
      - id: taskcluster_yml
        name: taskcluster_yml
        entry: poetry run taskcluster_yml_validator
        files: "^\\.taskcluster\\.yml$"
        language: system
      - id: toml-sort
        name: toml-sort
        entry: poetry run toml-sort --check -a
        types: [toml]
        language: system

test: only run toml-sort on pyproject.toml
  .pre-commit-config.yaml
Due: none

test: only trigger pylint and mypy when modifying python files
  .pre-commit-config.yaml
Due: none

build: add taskcluster-yml-validator as a local dependency
  poetry.lock
  pyproject.toml
Due: toml-sort

test: fix path to pyproject.toml
  .pre-commit-config.yaml
Due: none

feat: add regression keyword if bisection succeeds
  bugmon/bugmon.py
Due: black, flake8

ci: remove python 3.6 testing
  .taskcluster.yml
Due: taskcluster_yml

ci: run poetry install before lint
  tox.ini
Due: none

build: bump minimum python version to 3.7
  pyproject.toml
Due: toml-sort

test: pass files where applicable
  .pre-commit-config.yaml
Due: none

fix: remove unused mypy comment
  bugmon/bugmon.py
Due: black, flake8

build: update all test dependencies
  poetry.lock
  pyproject.toml
Due: toml-sort

chore: update autobisect
  pyproject.toml
Due: toml-sort

test: remove python 3.6 from tox configuration
  tox.ini
Due: none

test: convert pre-commit entries to local where applicable
  .pre-commit-config.yaml
Due: none

fix: update lockfile to correct breakage in grizzly
  poetry.lock
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Link to the blog post
  README.md
Due: none

fix: update autobisect to 3.1.9
  poetry.lock
  pyproject.toml
Due: toml-sort

fix: update autobisect to v5.0.0
  poetry.lock
  pyproject.toml
Due: toml-sort

test: run pre-commit via poetry
  tox.ini
Due: none

chore: update lockfile
  poetry.lock
Due: none

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

fix: only set status to verified if not new
  bugmon/bugmon.py
Due: black, flake8

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

chore: update autobisect to 5.0.1
  poetry.lock
Due: none

fix: exit early if no fix commit found
  bugmon/bugmon.py
Due: black, flake8

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

fix: update autobisect to fix fuzzfetch errors
  poetry.lock
Due: none

fix: exclude nyx builds
  bugmon/bug.py
Due: black, flake8

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

feat: add property for retrieving the assignee or creator
  bugmon/bug.py
Due: black, flake8

docs: fix indent
  bugmon/bug.py
Due: black, flake8
