Repository MozillaSecurity/bugmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, taskcluster_yml

black:
  name: black
  entry: poetry run black --check --diff
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  require_serial: true

taskcluster_yml:
  name: taskcluster_yml
  entry: poetry run taskcluster_yml --check -a
  pass_filenames: false
  language: python
  require_serial: false

test: update expected log message
  tests/test_bugmon.py
Due: black, flake8

chore(release): 2.0.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: relaunch browser after every attempt
  bugmon/evaluator_configs/browser.py
Due: black, flake8

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: minor change in bug comment
  bugmon/bugmon.py
Due: black, flake8

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: log pernosco-submit error message
  bugmon/utils.py
Due: black, flake8

chore(release): 2.1.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: update fuzzfetch
  poetry.lock
  pyproject.toml
Due: none

chore(release): 2.1.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: report success on pernosco before upload
  bugmon/bugmon.py
Due: black, flake8

chore(release): 2.1.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore: update lockfile
  poetry.lock
Due: none

fix: check that command exists before adding or removing it
  bugmon/bugmon.py
Due: black, flake8

feat: replace confirm/verify commands with analyze
  README.md
  bugmon/bugmon.py
  tests/test_bugmon.py
Due: black, flake8

ci: update tox to 4.4.6
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: update pernosco related keywords if trace successful
  bugmon/bugmon.py
Due: black, flake8

test: verify that commands are added to whiteboard
  tests/test_bugmon.py
Due: black, flake8

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: add punctuation to report messages
  bugmon/bugmon.py
Due: black, flake8

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: report pernosco-submit error on failure
  bugmon/utils.py
Due: black, flake8

chore(release): 2.3.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: remove local codecov dependency
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

feat: add pernosco-failed status command
  bugmon/bugmon.py
  tests/test_bugmon.py
Due: black, flake8

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

build: drop support for python 3.7
  pyproject.toml
  tox.ini
Due: none

build: update minimum poetry version to 1.0.8
  pyproject.toml
Due: none

ci: update orion to 0.0.6
  .pre-commit-config.yaml
Due: none

ci: update taskcluster test matrix
  .taskcluster.yml
Due: taskcluster_yml

feat: update autobisect to v7.0.0
  poetry.lock
  pyproject.toml
Due: none

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: update autobisect to 7.0.1
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  taskcluster_yml: any of: ^\.taskcluster\.yml$
