Repository MozillaSecurity/bugmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, taskcluster_yml

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/MozillaSecurity/orion
    rev: v0.0.2
    hooks:
      - id: orion_ci
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --check --diff
        language: system
        types: [ python ]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [ python ]
        require_serial: true
      - id: gitlint
        name: gitlint
        entry: poetry run gitlint
        language: system
        args: [--contrib=contrib-title-conventional-commits, --ignore=body-is-missing, --msg-filename]
        stages: [commit-msg]
      - id: mypy
        name: mypy
        entry: poetry run mypy bugmon
        pass_filenames: false
        language: system
      - id: pylint
        name: pylint
        entry: poetry run pylint -j 0 bugmon
        pass_filenames: false
        language: system
      - id: taskcluster_yml
        name: taskcluster_yml
        entry: poetry run taskcluster_yml --check -a
        pass_filenames: false
        language: python
        files: "^\\.taskcluster\\.yml$"
        require_serial: false
      - id: toml-sort
        name: toml-sort
        entry: poetry run toml-sort --check -a
        pass_filenames: false
        language: system

chore: update lockfile
  poetry.lock
Due: none

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: autobisect update includes fix for recent taskcluster build changes
  poetry.lock
  pyproject.toml
Due: none

chore(release): 3.0.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: rmeove unnecessary pylint exclusion
  pyproject.toml
Due: none

fix: avoid opt builds now that crashreporter-symbols.zip is no longer indexed
  bugmon/evaluator_configs/base.py
Due: black, flake8

feat: add asan to the build flag iterator
  bugmon/evaluator_configs/base.py
Due: black, flake8

test: update build iterator expected result counts
  tests/test_configs.py
Due: black, flake8

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: avoid non-fuzzing debug builds now that crashreporter-symbols.zip is no longer indexed
  bugmon/evaluator_configs/base.py
Due: black, flake8

test: update config iterator build count
  tests/test_configs.py
Due: black, flake8

chore(release): 3.1.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: catch failed attempts at fetching builds
  bugmon/bugmon.py
Due: black, flake8

fix: expand list of build configurations to avoid
  bugmon/evaluator_configs/base.py
  tests/test_configs.py
Due: black, flake8

chore(release): 3.1.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: don't check existing bug flags when generating products
  bugmon/evaluator_configs/base.py
  tests/test_configs.py
Due: black, flake8

chore: update taskcluster-yml-validator
  pyproject.toml
Due: none

build: use poetry group.dev for listing dev dependencies
  pyproject.toml
Due: none

fix: allow non-fuzzing builds in config iterator
  bugmon/evaluator_configs/base.py
  poetry.lock
  pyproject.toml
  tests/test_configs.py
Due: black, flake8

fix: update autobisect to set LD_LIBRARY_PATH to build dir for js shell
  poetry.lock
  pyproject.toml
Due: none

ci: use python-semantic-release from pyproject.toml
  tox.ini
Due: none

chore(release): 3.1.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: update autobisect to fix LD_LIBRARY_PATH issue
  poetry.lock
  pyproject.toml
Due: none

chore(release): 3.1.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: re-enable use of opt and non-fuzzing builds
  bugmon/evaluator_configs/base.py
  tests/test_configs.py
Due: black, flake8

fix: update autobisect to 7.2.1
  pyproject.toml
Due: none

feat: simplify product generation
  bugmon/evaluator_configs/browser.py
Due: black, flake8

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: use xvfb as default headless mode
  bugmon/evaluator_configs/browser.py
Due: black, flake8

chore(release): 3.2.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: update autobisect
  poetry.lock
  pyproject.toml
Due: none

fix: avoid non fuzzing builds as they are tier 2
  bugmon/evaluator_configs/base.py
  tests/test_configs.py
Due: black, flake8

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: include only expected events and actions in taskcluster.yml
  .taskcluster.yml
Due: taskcluster_yml

ci: fix action key
  .taskcluster.yml
Due: taskcluster_yml

ci: minor formatting changes
  .taskcluster.yml
Due: taskcluster_yml
