Repository MozillaSecurity/bugmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint, toml-sort

black:
  name: black
  entry: poetry run black --check --diff
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy src
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: poetry run pylint -j 0 src
  language: system
  pass_filenames: false

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check -a
  language: system

feat: update autobisect to v9.2.0
  pyproject.toml
  uv.lock
Due: toml-sort

ci: use gitlint pre-commit repo
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: toml-sort

chore(release): 5.2.0 [skip ci]
  pyproject.toml
Due: toml-sort

chore: update lock file
  uv.lock
Due: none

fix: restrict JSEvaluator to files with a *.js extension
  src/bugmon/evaluator_configs/js.py
  tests/test_configs.py
Due: black, flake8, mypy, pylint

chore(release): 5.2.1 [skip ci]
  pyproject.toml
Due: toml-sort

feat: use MozillaSecurity/Bugsy
  pyproject.toml
  uv.lock
Due: toml-sort

chore(release): 5.3.0 [skip ci]
  pyproject.toml
Due: toml-sort

fix: update prefpicker to 2.25.0
  uv.lock
Due: none

chore(release): 5.3.1 [skip ci]
  pyproject.toml
Due: toml-sort

fix: reject unsafe bugzilla attachment paths
  pyproject.toml
  src/bugmon/bugmon.py
  src/bugmon/utils.py
  tests/test_bugmon.py
  tests/test_utils.py
  uv.lock
Due: black, flake8, mypy, pylint, toml-sort

chore(release): 5.3.2 [skip ci]
  pyproject.toml
Due: toml-sort

docs: remove taskcluster badge
  README.md
Due: none

ci: enable dependabot PRs
  .github/.dependabot
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  toml-sort: any of: ^pyproject\.toml$
